/*.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;}*/
/*.clearfix {display:inline-block;}*/
/* Hide from IE Mac */
/*.clearfix {display:block;}*/
/* End hide from IE Mac */

.formEl label,.formEl input,.formEl textarea, .formEl select {font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;font-size:13px}
/*.formEl label,.formEl input,.formEl textarea, .formEl select {background:#fff;}*/
/*.formEl input,.formEl textarea, .formEl select {background:#fff;font-family:Helvetica, Arial, sans-serif;font-size:13px}*/
.formEl label,.formEl input {height: 12px;}
.formEl input[type=file] {height: auto;}
.formEl select {height: 24px;}
.formEl input:focus,.formEl textarea:focus,.formEl select:focus,.formEl input:active,.formEl textarea:active,.formEl select:active {background:#ebfdd7}
.formEl label {cursor:pointer}
.formEl label {padding:0 5px 0 10px;text-align:right;vertical-align:middle;}
.formEl label.lbl {margin-bottom:4px;font-size:13px;font-weight:bold;vertical-align:middle;color:#666}
.formEl label.tal{text-align:left;}
.formEl label.lbl_top {cursor:pointer;display:block;float:left;text-align:left;width:170px;padding:10px 5px 10px 10px;font-weight:bold;vertical-align:top;}
/*.formEl .required:before {content: "* ";color: red;}*/
.formEl .required {background-image:url(#{resource['images/asterisk.png']});background-position:top left;background-repeat:no-repeat;padding-left:10px;}

.formEl .inpt_a {padding:5px 8px;width:380px;border:1px;border-color:#b8b8b8 #e2e2e2 #e2e2e2 #b8b8b8;border-style:solid}
.formEl .inpt_b {padding:5px 8px;width:180px;border:1px;border-color:#b8b8b8 #e2e2e2 #e2e2e2 #b8b8b8;border-style:solid}
.formEl .inpt_c {width:13px;height:13px;margin:0 6px 0 0;padding:0;vertical-align:middle}
.formEl select {padding:2px 2px 2px 5px;border-width:1px;border-color:#adadad #d9d9d9 #d9d9d9 #adadad;border-style:solid;max-width: 98%}
.formEl textarea {padding:8px;border-width:1px;border-color:#adadad #d9d9d9 #d9d9d9 #adadad;border-style:solid;height:80px;width:380px}
.formEl div.error > label {color: #9d261d}
.formEl div.error input[type=text], .formEl div.error input[type=password], .formEl div.error textarea {border-color: #c87872;background:#FAE5E3}
.formEl fieldset {position:relative;border:1px solid #ccc;padding:20px 20px 10px;margin-bottom:26px}
.formEl fieldset legend {display:block;margin-left:-10px;font-weight:700;border:1px solid #ccc;background:#f2f2f2;font-size:12px;line-height:24px;padding:0 10px;top:-10px\9;left:20px\9;*left:10px;position:absolute\9}

.formEl .noLeftPad {padding-left: 0;}

.tableDiv {display: table;border-spacing: 10px;}
.rowDiv {display: table-row;}
.cellDiv {display: table-cell;}

.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; display:none;}
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }            

/*  New Loan Page */
#newLoan_Account_Fs label {display:block;float:left; width:70px;}
#newLoan_Account_Fs input {float:left; width:150px;}
#newLoan_Account_Fs select {float:left; width:450px;}
#newLoan_Account_Fs #lblAccountId {width:75px;margin-left:20px;}

#newLoan_Info_Fs label {display:block;float:left; width:100px;}
#newLoan_Info_Fs input {float:left; width:150px;}
#newLoan_Info_Fs select {float:left; width:150px;}
#newLoan_Info_Fs img {float:left;}
#newLoan_Info_Fs #lblloanStartDate, #newLoan_Info_Fs #lblloanForm-loanStartDate {width:40px;margin-left:40px;}

#newLoan_Borrower_Fs label {display:block;float:left;}
#newLoan_Borrower_Fs input {float:left; width:150px;}
#newLoan_Borrower_Fs select {float:left; width:80px;}
#newLoan_Borrower_Fs #ownerDiv label {width:80px;}
#newLoan_Borrower_Fs #ownerDiv #ownerType {width:170px;}

#newLoan_Borrower_Fs #addressDiv label {width:120px;}
#newLoan_Borrower_Fs #addressDiv #lblOwnerState, 
   #newLoan_Borrower_Fs #addressDiv #lblOwnerPhoneType1, 
   #newLoan_Borrower_Fs #addressDiv #lblOwnerPhoneType2 {width:40px;}
#newLoan_Borrower_Fs #addressDiv #lblOwnerZip {width:30px;}
   
#newLoan_Borrower_Fs #addressDiv #ownerAddress, #newLoan_Borrower_Fs #addressDiv #ownerAddress2 {width:600px;}
#newLoan_Borrower_Fs #addressDiv #ownerCity,
   #newLoan_Borrower_Fs #addressDiv #ownerPhone1, 
   #newLoan_Borrower_Fs #addressDiv #ownerPhone2 {width:200px;}
#newLoan_Borrower_Fs #addressDiv #ownerState {width:190px;}
#newLoan_Borrower_Fs #addressDiv #ownerZip {width:80px;}

#collateral_Fs label {display:block;float:left;}
#collateral_Fs input {float:left; width:150px;}
#collateral_Fs select {float:left; width:80px;}
#collateral_Fs label {width:80px;}

#collateral_Fs #lblVin1 {width:30px;margin-left:50px;}
#collateral_Fs #lblcollStartDate, #collateral_Fs #lblloan-collStartDate {width:70px;margin-left:10px;}
#collateral_Fs #col_type1 {width:170px;}
#collateral_Fs #selectstatus1 {width:380px;}
#collateral_Fs #titlePreConv1 {width:20px;margin-left:70px;}
#collateral_Fs #lblloanlabel {width:300px;text-align:left;}
#collateral_Fs #archived1 {width:20px;}

#collateral_Fs #collStatus label {width:120px;}
#collateral_Fs #collStatus label.lbl {width:160px;}
#collateral_Fs #collStatus #textBrand {width:300px;height:70px;}

/* New Title Page */
#titleInfo_Fs label {display:block;float:left;}
#titleInfo_Fs input {float:left; width:150px;}
#titleInfo_Fs select {float:left; width:170px;}
#titleInfo_Fs span {float:left; width:170px;}
#titleInfo_Fs img {float:left;}
#titleInfo_Fs input[type=checkbox] {float:left; width:20px;}
#titleInfo_Fs label {width:150px;}

/*#titleInfo_Fs #titleInfoOrgDiv {border-bottom: 1px dotted gray;}*/
#titleInfo_Fs #titleInfoOrgDiv label, #titleInfo_Fs #titleInfoOrgDiv select{display:inline;float:none;}
#titleInfo_Fs #titleInfoOrgDiv select {width:450px;}

#titleInfo_Fs #titleInfoDiv #issueDate, #titleInfo_Fs #titleInfoDiv #receiveDate {width:133px;}

#titleInfo_Fs #titleInfoDatesDiv label {width:130px;}
#titleInfo_Fs #titleInfoDatesDiv span {width:50px;}

#titleStatus_Fs #titleStatusLienDiv label {display:block;float:left; width:130px;}
#titleStatus_Fs #titleStatusLienDiv input {float:left; width:40px;}

#dataComparison_Fs #criticalDataCompDiv {float:none; display:block; border: 1px dotted gray; margin: 0 auto;}
#dataComparison_Fs #criticalDataCompDiv .row {border-bottom: 1px dotted lightgray;padding: 5px 0; margin: 0;}
#dataComparison_Fs #criticalDataCompDiv label {display:block;float:left;}
#dataComparison_Fs #criticalDataCompDiv label {width:130px;}
#dataComparison_Fs #criticalDataCompDiv input {width:250px;}
#dataComparison_Fs #criticalDataCompDiv img {width:15px;}
/*#dataComparison_Fs #criticalDataCompDiv .dataCompHeader {background-color:LightGray;} *//*DodgerBlue*/
#dataComparison_Fs #criticalDataCompDiv .dataCompHeader label {font-weight:bold;text-align:center;width:250px;padding-left: 100px;}


/* Find Loan Page */
#findLoan_Fs #findLoanOrgDiv select {height: 80px;}
#findLoan_Fs #findLoanOtherDiv label {display:block;float:left;width:80px;}
#findLoan_Fs #findLoanOtherDiv input {float:left;width: 100px;}
#findLoan_Fs #findLoanOtherDiv #findStartDate, #findLoan_Fs #findLoanOtherDiv #findEndDate {width: 85px;}
#findLoan_Fs #findLoanOtherDiv select {float:left;width: 120px;}
#findLoan_Fs #findLoanOtherDiv img {float:left;}

#workflowOptions_Fs label {display:block;float:left;width:80px;}
#workflowOptions_Fs select {float:left;width: 300px;}
#workflowOptions_Fs input {float:left;width: 100px;}
#workflowOptions_Fs input[type=checkbox] {float:left; width:20px;}
#workflowOptions_Fs img {float:left;}
#workflowOptions_Fs #lblUrgent, #workflowOptions_Fs #lblOverdue {text-align:left;width: 150px;}
#workflowOptions_Fs #workflowOptionsWorkflowDiv #lblwkRangeEndDate {width:35px;}
#workflowOptions_Fs #workflowOptionsWorkflowDiv #wkRangeStartDate, #workflowOptions_Fs #workflowOptionsWorkflowDiv #wkRangeEndDate {width:90px;}


/* Find Title Page */
#findTitle_Fs #findTitleOrgDiv select {height: 80px;}
#findTitle_Fs #findTitleOtherDiv label {display:block;float:left;width:80px;}
#findTitle_Fs #findTitleOtherDiv input {float:left;width: 100px;}
#findTitle_Fs #findTitleOtherDiv #findStartDate, #findTitle_Fs #findTitleOtherDiv #findEndDate {width: 85px;}
#findTitle_Fs #findTitleOtherDiv select {float:left;width: 120px;}
#findTitle_Fs #findTitleOtherDiv img {float:left;}


/* Reports */
#reportsDiv {border-right: 1px dotted lightgray;}
#reportsBox .box_c_heading button {margin-top: 3px;}
#reportsBox .box_c_content {height:220px;overflow-y:scroll;overflow-x:auto;}
#reportsOrgDiv #orgsReport {height: 120px;}
#reportsOptionsDiv, #reportsFilterDiv {border-bottom: 1px dotted lightgray;}
#reportsCriteriaDiv label {display:block;float:left;width:150px;}
#reportsCriteriaDiv input {float:left;width: 100px;}
#reportsCriteriaDiv select {float:left;width: 135px;}
#reportsCriteriaDiv img {float:left;}
#reportsCriteriaDiv #archiveStatus {width:435px;}

/* Users */
#usersBox #userType {margin-top: 3px;}
#usersBox {height:900px;}

#users_Fs label {display:block;float:left;width:175px;}
#users_Fs input {float:left;width: 175px;}
#users_Fs input[type=checkbox] {float:left; width:20px;}
#users_Fs select {float:left;width: 192px;}
#users_Fs img {float:left;}
#users_Fs #lblUserId {width:55px;margin-left:120px;}
#users_Fs #lblName {width:75px;margin-left:100px;}
#users_Fs #trainingStart, #users_Fs #trainingEnd {width: 160px;}
#users_Fs #lblDisabled {width:65px;}
#users_Fs #comment {height:75px;width:570px;}
#users_Fs #userSettings{border-right: 1px dotted lightgray;}
#users_Fs #generalSettings {border-bottom: 1px dotted lightgray;}

#users_Fs #orgSettings {float:none; display:block; margin: 0 auto;}
#users_Fs #orgSettings select {float:left;width:350px;}
#users_Fs #orgSettings .orgCopy label {width:200px;text-align:center;}
#users_Fs #orgSettings .orgCopy .spacer {width:100px;}
#users_Fs #orgSettings .orgCopy select {float:left;width:230px;height:120px;}
#users_Fs #orgSettings .orgCopy .copyControls {float:left;padding:0 10px;}
#users_Fs #orgSettings .orgCopy .copyControls .btn {margin-top:5px;padding:0 10px 0 5px;}
#users_Fs #orgSettings .orgCopy .copyControls span {float:none;width:50px;}

#users_Fs #orgSettings .orgCopy .copyControls .btnImg {background-position: left center; background-repeat: no-repeat;padding-left: 18px;}
#users_Fs #orgSettings #copyall .btnImg {background-image: url(#{resource['images/control-skip.png']});}
#users_Fs #orgSettings #usersForm-copy .btnImg {background-image: url(#{resource['images/control.png']});}
#users_Fs #orgSettings #remove .btnImg{background-image: url(#{resource['images/control-180.png']});}
#users_Fs #orgSettings #removeall .btnImg {background-image: url(#{resource['images/control-skip-180.png']});}

#userPermissions {width:210px;margin:0;padding:0;font-size:10px;}
#userPermissions h3 {border-bottom: 1px solid lightgrey;margin-bottom: 10px; margin-left:-5px;}
#userPermissions label {float:none;width:auto; height: auto;text-align:left;display:inline;font-size:11px;}

/*.formEl label,.formEl input {height: 12px;}*/
/*.formEl select {height: 24px;}*/
/*
#importForm #uploadDiv label {display:block;float:left;width:175px;}
#importForm #uploadDiv input {float:left;width: 275px;height:14px;}
#importForm #uploadDiv input[type=file] {float:left;height:25px;}
#importForm #uploadDiv input[type=checkbox] {float:left; width:75px;}
#importForm #uploadDiv input[type=submit] {height:25px; width: auto;}
#importForm #uploadDiv select {float:left;width: 192px; height:100px;}
input[type=file], input[type=submit] {height: auto;}
*/

#importForm #uploadDiv #map {height:150px;}
#importForm #uploadDiv #lblmap {vertical-align: top;}



