legend {
    position: relative;
    left: -7px;
    top: -8px;
}
legend span {
    margin-top: 13px;
}
fieldset {
    position: relative;
}
fieldset ol {
    padding-top: 35px;
}
fieldset fieldset legend {
    top: 0;
}