body {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 11px;
}
.header {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 18px;
}
fieldset {
     position: relative;
     float: left;
     clear: both;
     width: 100%;
     margin: 0 0 -11px 0;
     /*padding: 0 0 11px 0;*/
     padding: 24px 0 11px 0;
     border-style: none;
     border-top: 1px solid #BFBAB0;
     background-color: #F2EFE9;
     background-image: url(images/fieldset_gradient.jpg);      
     background-repeat: repeat-x;
}
fieldset.alt {
     background-color: #E6E3DD;
}  
legend {
     padding: 0;
     color: #000000;
     font-weight: bold;
}
legend span {
     position: absolute;
     left: 8px;
     top: 0;
     margin-top: 5px;
     font-size: 125%;
}
fieldset ol {
     /*padding: 38px 11px 0 11px;*/
     padding: 11px 11px 0 11px;
     list-style: none;
}
fieldset li {
     float: left;
     clear: left;
     /*width: 100%;*/
     /*padding-bottom: 11px;*/
     padding-bottom: 5px;
}
label {
	 display:block;
     float: left;
     width: 110px;
     margin-right: 11px;
     text-align: right;
}
input {float:left; width:200px;}
fieldset.submit {
     float: none;
     width: auto;
     border-style: none;
     padding-top: 16px;
     padding-left: 132px;
     background-color: transparent; /*#FFFFFF;*/
     background-image: none;
}
fieldset fieldset {        
     margin-bottom: -27px;        
     border-style: none;        
     background-color: transparent;        
     background-image: none;        
}        
fieldset fieldset legend {        
     margin-left: 0;        
     font-weight: normal;        
}        
fieldset fieldset ol {        
     position: relative;        
     top: -16px;        
     margin: 0 0 0 11em;        
     padding: 0;        
}
.bottom {
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 9px;
      text-align: center;
      vertical-align: middle;
      color: #8E969D;
}