.navBar {text-align:center}
.navBar .nav_item {position:relative;display:block;margin:0 0 10px 10px;text-align:center;float:left;border:1px solid #ccc;background: #f2f2f2;background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);background: -o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);background: linear-gradient(top, #ffffff 0%,#f2f2f2 100%);-webkit-box-shadow: inset 0px 0px 0px 1px #ffffff;-moz-box-shadow: inset 0px 0px 0px 1px #ffffff;box-shadow: inset 0px 0px 0px 1px #ffffff}
.navBar .main_link {text-decoration:none;color:#222;display:block;padding:6px 10px;min-width:42px}
.navBar .main_link span {display:block;text-align:center;cursor:pointer}
.navBar .main_link .img_holder {height:20px;width:24px;padding-bottom:4px;background-repeat:no-repeat;background-position:center center}
.navBar .tick {display:none;position:absolute;bottom:-7px;left:50%;margin-left:-6px}
.navBar .nav_item:hover,.navBar li.active {background:#fff}
.navBar .active .tick {display:block}
.navBar .tick_a {background-image: url(#{resource['images/lga_spr.png']});background-repeat:no-repeat; background-position:-36px 0;width:11px;height:7px}