<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:v="http://java.sun.com/jsf/composite/component"
   template="template.xhtml">
   
   <ui:param name="page" value="accordion"/>
   <ui:define name="example">
       <h:outputScript library="jslib" name="jquery.microaccordion.js" target="head"/>
   
       <div id="accordion" class="mAccordion">
           <div class="micro">
               <h4><span class="head-inner">First</span></h4>
               <div class="sub_section">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed elit libero, at laoreet metus. Sed pulvinar laoreet felis. Nulla consectetur tellus eget orci consectetur vestibulum sagittis non massa. Sed eget lorem odio. Donec venenatis pretium dolor ac sagittis. Duis eget leo nulla, non cursus quam.
               </div>
           </div>
           <div class="micro">
               <h4><span class="head-inner">Second</span></h4>
               <div class="sub_section">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed elit libero, at laoreet metus. Sed pulvinar laoreet felis. Nulla consectetur tellus eget orci consectetur vestibulum sagittis non massa. Sed eget lorem odio. Donec venenatis pretium dolor ac sagittis. Duis eget leo nulla, non cursus quam. Aliquam sem nibh, fringilla sit amet fermentum at, commodo non mauris. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
               </div>
           </div>
           <div class="micro">
               <h4><span class="head-inner">Third</span></h4>
               <div class="sub_section">
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed elit libero, at laoreet metus. Sed pulvinar laoreet felis. Nulla consectetur tellus eget orci consectetur vestibulum sagittis non massa. Sed eget lorem odio. Donec venenatis pretium dolor ac sagittis. Duis eget leo nulla, non cursus quam. Aliquam sem nibh, fringilla sit amet fermentum at, commodo non mauris. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
               </div>
           </div>
       </div>

        <script type="text/javascript">
        $(document).ready(function() {
            $('#accordion').children('div.micro').each(function (e) {
                $(this).attr('rel', e);
            });
	        $('#accordion').microAccordion({
	            openSingle: true,
	            closeFunction: function (obj) {
	                obj.slideUp('fast');
	            },
	            toggleFunction: function (obj) {
	                obj.slideToggle('fast');
	            }
	        });
        });
        </script>
   </ui:define>
   <ui:define name="usage">
   </ui:define>   
</ui:composition>