<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:v="http://java.sun.com/jsf/composite/component"
   template="template.xhtml">
   
   <ui:param name="page" value="alerts"/>
   <ui:define name="example">
         
         <div class="lblSpace tac sepH_b">
              <ul>
              <li class="btn btn_dS sepV_a"><a href="#" id="show_error">Show Error</a></li>
              <li class="btn btn_dS sepV_a"><a href="#" id="show_conf">Show Confirmation</a></li>
              <li class="btn btn_dS sepV_a"><a href="#" id="show_info">Show Info</a></li>
              <li class="btn btn_dS sepV_a"><a href="#" id="show_alert">Show Alert</a></li>
              </ul>
         </div>         

         <div class="msg_box msg_error" style="display:none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet massa neque. Nulla tincidunt orci et leo faucibus eu molestie elit consequat.<img src="images/blank.gif" class="msg_close" alt="" /></div>
         <div class="msg_box msg_ok" style="display:none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet massa neque. Nulla tincidunt orci et leo faucibus eu molestie elit consequat.<img src="images/blank.gif" class="msg_close" alt="" /></div>
         <div class="msg_box msg_info" style="display:none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet massa neque. Nulla tincidunt orci et leo faucibus eu molestie elit consequat.<img src="images/blank.gif" class="msg_close" alt="" /></div>
         <div class="msg_box msg_alert" style="display:none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet massa neque. Nulla tincidunt orci et leo faucibus eu molestie elit consequat.<img src="images/blank.gif" class="msg_close" alt="" /></div>

        <script type="text/javascript">
        $(document).ready(function() {
            $('#show_error').click(function() {
                $('.msg_error').fadeIn('slow').children('span').text('Lorem ipsum dolor sit amet!');
            });
            $('.msg_error > img').click(function() {
                $('.msg_error').fadeOut('slow');
            });
            $('#show_conf').click(function() {
                $('.msg_ok').fadeIn('slow').children('span').text('Lorem ipsum dolor sit amet!');
            });
            $('.msg_ok > img').click(function() {
                $('.msg_ok').fadeOut('slow');
            });
            $('#show_info').click(function() {
                $('.msg_info').fadeIn('slow').children('span').text('Lorem ipsum dolor sit amet!');
            });
            $('.msg_info > img').click(function() {
                $('.msg_info').fadeOut('slow');
            });
            $('#show_alert').click(function() {
                $('.msg_alert').fadeIn('slow').children('span').text('Lorem ipsum dolor sit amet!');
            });
            $('.msg_alert > img').click(function() {
                $('.msg_alert').fadeOut('slow');
            });            
        });
        </script>
   </ui:define>
   <ui:define name="usage">
   </ui:define>   
</ui:composition>