<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:v="http://java.sun.com/jsf/composite/component"
   template="template.xhtml">
   
   <ui:param name="page" value="capsChecker"/>
   <ui:define name="example">
       <h:outputScript library="jslib" name="jquery.capsChecker.js" target="head"/>
   
       <div id="loginForm" class="login">
            Password: <input type="password" class="pass capsCheck" tabindex="1"/><br/>
            <span id="capsWarn" style="font: italic bold;color:red;display:none;">Warning: CAPS LOCK is on!</span>
       </div>

        <script type="text/javascript">
        $(document).ready(function() {
        	$('.capsCheck').capsChecker({
        	    capson: function(e, isOn) {
        	        $('#capsWarn').show();
        	    },
        	    capsoff: function(e, isOn) {
        	    	$('#capsWarn').hide();
        	    }
        	});            
        });
        </script>
   </ui:define>
   <ui:define name="usage">
   </ui:define>   
</ui:composition>