<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:v="http://java.sun.com/jsf/composite/component"
   template="template.xhtml">
   
   <ui:param name="page" value="contactSlider"/>
   <ui:define name="example">
        <div class="dp50">
        <v:contactSlider id="contactSlider"/>
        </div>
   </ui:define>
   <ui:define name="usage">
         - Add the composite library namespace: <f:verbatim>xmlns:v="http://java.sun.com/jsf/composite/component</f:verbatim><br/>
         - Add the component  <f:verbatim>v:contactSlider id="contactSlider"</f:verbatim><br/>
   </ui:define>
</ui:composition>