<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:v="http://java.sun.com/jsf/composite/component"
   template="template.xhtml">
   
   <ui:param name="page" value="gritter"/>
   <ui:define name="example">

	    <h:outputStylesheet library="component/gritter/css" name="jquery.gritter.css"  target="head"/>
	    <h:outputScript library="component/gritter" name="jquery.gritter.js" target="head"/>
   
        <h:commandLink class="btn btn_dS sepV_a"><f:ajax execute="@form" onevent="growl"/>Show me a gritter</h:commandLink>   

		<script type="text/javascript">          
		function growl() {
	        $.gritter.add({
	            title: "Growl!",
	            text: "A growl message",
	            time: '1000',
	        });
		}
		</script>
   </ui:define>
   <ui:define name="usage">
   </ui:define>   
</ui:composition>