<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:v="http://java.sun.com/jsf/composite/component"
   template="template.xhtml">
   
   <ui:param name="page" value="jquery_graph"/>
   <ui:define name="example">
        <h:outputStylesheet library="component/graph/visualize" name="visualize.css" target="head"/>
        <h:outputScript library="jslib" name="jquery-1.7.2.min.js" target="head"/>
        <h:outputScript library="component/graph/visualize" name="excanvas.compiled.js" target="head"/>
        <h:outputScript library="component/graph/visualize" name="visualize.jQuery.js" target="head"/>
        <h:outputScript library="component/graph/visualize" name="tooltip.visualize.jQuery.js" target="head"/>

        <div id="jquerychart">JQuery Graph
             <table class="chart bar line area pie table_a">
                 <caption>2009 Employee Sales by Department</caption>
                 <thead>
                     <tr>
                         <td></td>
                         <th scope="col">food</th>
                         <th scope="col">auto</th>
                         <th scope="col">household</th>
                         <th scope="col">furniture</th>
                         <th scope="col">kitchen</th>
                         <th scope="col">bath</th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr>
                         <th scope="row">Mary</th>
                         <td>190</td>
                         <td>160</td>
                         <td>40</td>
                         <td>120</td>
                         <td>30</td>
                         <td>70</td>
                     </tr>
                     <tr>
                         <th scope="row">Tom</th>
                         <td>3</td>
                         <td>40</td>
                         <td>30</td>
                         <td>45</td>
                         <td>35</td>
                         <td>49</td>
                     </tr>
                     <tr>
                         <th scope="row">Brad</th>
                         <td>10</td>
                         <td>180</td>
                         <td>10</td>
                         <td>85</td>
                         <td>25</td>
                         <td>79</td>
                     </tr>
                     <tr>
                         <th scope="row">Kate</th>
                         <td>40</td>
                         <td>80</td>
                         <td>90</td>
                         <td>25</td>
                         <td>15</td>
                         <td>119</td>
                     </tr>
                 </tbody>
             </table>       
        </div>  
         <script type="text/javascript">
            $(document).ready(function() {                    
                $('.line').visualize({
                    type: 'line',
                    colors: ['#00a0b0','#cc333f','#6a4a3c','#edc951','#eb6841','#a141eb','#446a3c','#f45a90','#e9e744'],
                    lineDots: 'double',
                    lineMargin: 0,
                    interaction: true,
                    tooltip: true
                }).trigger('visualizeRefresh');
                $('table.chart').hide();
            });    
        </script>
   </ui:define>
   <ui:define name="usage">
   </ui:define>
</ui:composition>