<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:v="http://java.sun.com/jsf/composite/component"
   template="template.xhtml">
   
   <ui:param name="page" value="maskedInput"/>
   <ui:define name="example">
	    <h:outputScript library="jslib" name="jquery.maskedinput-1.3.min.js" target="head"/>
	       
        <div id="maskedInputDemo">
            The following example is a masked input demo.
            <table border="0"><tbody>
                <tr><td>Date</td><td><input class="date" tabindex="1" type="text"/></td><td>99/99/9999</td></tr>
                <tr><td>Phone</td><td><input class="phone" tabindex="3" type="text"/></td><td>(999) 999-9999</td></tr>
                <tr><td>Phone + Ext</td><td><input class="phoneext" tabindex="4" type="text"/></td><td>(999) 999-9999? x99999</td></tr>
                <tr><td>Tax ID</td><td><input class="tin" tabindex="5" type="text"/></td><td>99-9999999</td></tr>
                <tr><td>SSN</td><td><input class="ssn" tabindex="6" type="text"/></td><td>999-99-9999</td></tr>
            </tbody></table>
        </div>

		<script type="text/javascript">
	    jQuery(function($){
	           $(".date").mask("99/99/9999");
	           $(".phone").mask("(999) 999-9999");
	           $(".phoneext").mask("(999) 999-9999? x99999");
	           $(".tin").mask("99-9999999");
	           $(".ssn").mask("999-99-9999");
	        });
		</script>
   </ui:define>
   <ui:define name="usage">
   </ui:define>   
</ui:composition>