<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:v="http://java.sun.com/jsf/composite/component"
   template="template.xhtml">
   
   <ui:param name="page" value="menuList"/>
   <ui:define name="example">
	    <style type="text/css">
	     #status-bar {
	        height: 3.25em;
	        line-height: 3.167em;
	        background: white url(#{resource['component/menuList/images/status-bar-bg.png']}) repeat-x;
	        -webkit-background-size: 100% 100%;
	        -moz-background-size: 100% 100%;
	        -o-background-size: 100% 100%;
	        background-size: 100% 100%;
	        background: -moz-linear-gradient(top, white, #dadada 6%, white 92%, #cfcfcf);
	        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#cfcfcf), color-stop(.05, #dadada), color-stop(.92, white));
	        border-bottom: 1px solid #969696;
	        text-align: right;
	        color: #7b7b7b;
	    }
	    #status-infos {
	        float: right;
	        margin-bottom: 0;
	        padding-right: 0.5em;
	    }    
	    </style>   
        <div id="status-bar">
		    <ul id="status-infos">
		       <v:menuList id="menuList" list="#{userMessages.messages}" label="New Messages"/>
		    </ul>
		</div>
   </ui:define>
   <ui:define name="usage">
        - Add the composite library namespace: <f:verbatim>xmlns:v="http://java.sun.com/jsf/composite/component</f:verbatim><br/>
        - Add the component  <f:verbatim>v:map id="usa-map" label="USA MAP:"</f:verbatim><br/>
   </ui:define>
</ui:composition>