<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:v="http://java.sun.com/jsf/composite/component"
   template="template.xhtml">
   
   <ui:param name="page" value="modals"/>
   <ui:define name="example">   
       <h4 class="sepH_a">Modals</h4>
       <a href="#frm-regModal" class="btn btn_b">Regular modal</a>

        <v:modal id="regModal" type="simpleModal">
            <f:facet name="modalPanel">
               <h4 class="sepH_a">Regular modal</h4>
               <p class="sepH_c">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a lectus nec purus luctus vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a lectus nec purus luctus vestibulum.</p>
               <a href="#" class="btn btn_d">Lorem ipsum</a>            
            </f:facet>
        </v:modal>
   </ui:define>
   <ui:define name="usage">
   </ui:define>   
</ui:composition>