<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:v="http://java.sun.com/jsf/composite/component"
   template="template.xhtml">
   
   <ui:param name="page" value="raty"/>
   <ui:define name="example">
      <h:outputScript library="component/jquery-raty" name="jquery.raty.js" target="head"/>
      
      Was this information helpful to you? <div id="rating"></div>
      
      <script type="text/javascript">
          $(document).ready(function() {
              $('#rating').raty({
                  start: 2,
                  path: '',
                  half: true,
                  //size:       24,
                  starHalf: "#{resource['component/jquery-raty/img/star-half.png']}",
                  starOff: "#{resource['component/jquery-raty/img/star-off.png']}",
                  starOn:  "#{resource['component/jquery-raty/img/star-on.png']}"                 
                });
          });    
      </script>
   </ui:define>
   <ui:define name="usage">
        - Add the composite library namespace: <f:verbatim>xmlns:v="http://java.sun.com/jsf/composite/component</f:verbatim><br/>
   </ui:define>
</ui:composition>