<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:v="http://java.sun.com/jsf/composite/component"
   template="template.xhtml">
   
   <ui:param name="page" value="alerts"/>
   <ui:define name="example">
        <v:sessionTimeout idleAfter="5" pollingInterval="40" expiredPage="#{request.contextPath}/_errors/expired.html" pollServlet="#{request.contextPath}/poll"/>
		<div>
		    <p>The timeout bar will show in 5 secs. <strong>Keep your mouse and keyboard still!</strong></p>
		    <p>A polling request is sent to the server every two seconds to keep the server side session alive.  I've set this parameter to an <em>extremely</em> low number 
		    for demo purposes (timeout is only 5 seconds), but in reality, this should be much higher (=eq to session timeout in web.xml minus the timeout in js).</p>		    
		</div>
   </ui:define>
   <ui:define name="usage">
   </ui:define>   
</ui:composition>