<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:v="http://java.sun.com/jsf/composite/component"
   template="template.xhtml">
   
   <ui:param name="page" value="showMore"/>
   <ui:define name="example">
        <v:showMore id="s5" lessHeight="40px" lessLabel="less" moreLabel="more">
            <f:facet name="showMorePanel">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam varius fermentum tortor quis vestibulum. Nam elit eros, lobortis ut varius sit amet, porttitor a tortor. Nulla porttitor gravida diam, dapibus pulvinar arcu euismod eu. Quisque gravida aliquet facilisis. Nam non interdum diam. Morbi pharetra, magna non sagittis placerat, dolor nisl euismod tellus, et dictum nunc enim vel metus. Quisque eget placerat tortor. Phasellus non erat eros, eu facilisis magna. Nulla dui metus, vehicula a aliquet quis, tempus sagittis diam. Aliquam ultricies metus in ligula vestibulum auctor. Aliquam porttitor fermentum turpis, sit amet dignissim ante vestibulum at. Maecenas neque neque, porttitor sed rutrum sed, consequat elementum ipsum. Integer dolor orci, porttitor vel vehicula quis, porttitor a diam.</p>
			
			<p>Duis fermentum tincidunt libero, a gravida justo aliquam sed. Aliquam vitae est eget neque laoreet tincidunt ut volutpat mauris. Mauris ornare ligula eget diam elementum consectetur. Donec lacinia euismod ante sit amet rutrum. Sed ac urna orci, nec condimentum libero. Nam a magna massa, sed lobortis magna. Vestibulum aliquam justo urna, sed lobortis ante. Donec nisl mauris, sagittis sed gravida sed, ornare quis leo. Donec sed condimentum mi. Cras eget dolor sit amet lorem hendrerit tincidunt. Aliquam erat volutpat. Etiam mattis erat at eros tincidunt accumsan. Vestibulum bibendum augue in massa luctus eget varius felis molestie. Cras dictum, libero a dignissim placerat, lectus risus pharetra metus, vel sagittis orci ante id sem. Vestibulum elementum, mauris sed ullamcorper scelerisque, ante leo vestibulum odio, quis consectetur lectus neque sit amet massa. Integer pellentesque enim non felis rhoncus gravida.</p>
			
			<p>Vivamus erat est, pretium nec pellentesque consequat, mattis et metus. Maecenas fermentum posuere nisl id ullamcorper. Aliquam sollicitudin viverra urna. Mauris eu nisl vitae orci lacinia aliquam a id urna. Duis dictum aliquam lacinia. Integer et ipsum quis augue lobortis commodo ut quis erat. Maecenas viverra lobortis interdum. Donec at erat consequat lorem mollis accumsan vitae eget erat. Pellentesque faucibus sagittis convallis. Maecenas nec nulla vel magna varius aliquet quis non tellus.</p>
			
			<p>Duis varius risus ac nisl dignissim et fringilla erat luctus. Aliquam in nibh dolor. Ut suscipit odio posuere sapien rhoncus congue. Vivamus in sodales ligula. Vivamus sit amet urna ut enim vehicula aliquam. Curabitur id arcu eros. Nam ac quam pellentesque ante volutpat interdum vitae quis sapien. Pellentesque fringilla, felis vitae eleifend sodales, lacus magna vestibulum felis, non facilisis massa enim sed magna. Suspendisse vitae ultrices urna. Morbi nisi diam, cursus vitae molestie quis, eleifend eget neque. Proin non nisi dui. Sed est risus, dignissim at varius sit amet, viverra sed tortor.</p>
			
			<p>Nam eget condimentum risus. Sed eu libero eget ante sagittis consectetur. Donec in ante non justo malesuada sagittis. In sollicitudin tincidunt auctor. In a turpis eu risus ullamcorper bibendum. Sed eget nunc eu nunc malesuada luctus. Mauris tempus nibh vel libero porttitor mollis. Nulla facilisi.</p>
			</f:facet>
        </v:showMore>
   </ui:define>
   <ui:define name="usage">
   </ui:define>   
</ui:composition>