<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:v="http://java.sun.com/jsf/composite/component"
   template="template.xhtml">
   
   <ui:param name="page" value="tab"/>
   <ui:define name="example">
        <v:tab id="loan" label="Loan#: 0009318429" tabs="Loan Information,Workflow,View/Edit 1 Attachment(s),DMV Documents">
            <f:facet name="tabPanes">
            <div>
                Loan Information
            </div>
            <div>
                workflow
            </div>
            <div>
                attachments
            </div>
            <div>
                DMV Documents
            </div>            
            </f:facet>
        </v:tab>
   </ui:define>
   <ui:define name="usage">
   </ui:define>   
</ui:composition>