<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>FileUpload Demo</title>
        <style>
            <!--
            iframe {width: 500px; height:50px; border:none; font-size:11px;"}
            iframe.hidden {display:none}
            
			body { padding: 30px }
			form { display: block; margin: 20px auto; background: #eee; border-radius: 10px; padding: 15px }
			
			.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
			.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
			.percent { position:absolute; display:inline-block; top:3px; left:48%; }            
            -->
        </style>
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
    </h:head>
    <h:body>      
        <h1>FileUpload to DB Demo</h1>
        <form id="formId" action="FileDBUploadServlet" enctype="multipart/form-data" method="post" target="uploadresult">
        <!-- form id="formId" action="FileDBUploadServlet" enctype="multipart/form-data" method="post"-->
            File: <input type="file" id="FileUploadId" name="file"/><br/>
            Rename As (as file blurs change this from: $('#file').val(): <input type="text" id="fileName" name="fileName"/><br/>
            Description: <input type="text" id="description" name="description"/><br/>
            <input type="submit" id="uploadButtonId" value="Upload" />
        </form>
        <iframe name="uploadresult" width="50" height="10" tabindex="-1" title="empty" class="nothidden"></iframe>
        <label id="results" name="results"></label>
        
        <div class="progress">
            <div class="bar"></div >
            <div class="percent">0%</div >
        </div>
    
        <div id="status"></div>
        
        <script type="text/javascript">
        (function() {
            
        	var bar = $('.bar');
        	var percent = $('.percent');
        	var status = $('#status');
        	   
        	$('#formId').ajaxForm({
        	    beforeSend: function() {
        	        status.empty();
        	        var percentVal = '0%';
        	        bar.width(percentVal)
        	        percent.html(percentVal);
        	    },
        	    uploadProgress: function(event, position, total, percentComplete) {
        	        var percentVal = percentComplete + '%';
        	        bar.width(percentVal)
        	        percent.html(percentVal);
        	    },
        	    complete: function(xhr) {
        	        status.html(xhr.responseText);
        	    }
        	}); 

        })();          
        /*
              $("#formId").submit(function(event) {
            	    event.preventDefault();
            	    $("#results").html("Uploading . . .");
                    //var dados = $("#formId").serialize();
                    var action = $("#formId").attr("action");
                    var contentType = $("#formId").attr("enctype");
                    var desc = $("#description").val();
                    var frm = $("#formId").get(0);
                    $.ajax({  
                        type: "POST",
                        //contentType:attr("enctype", "multipart/form-data"),
                        //contentType:contentType,
                        contentType:"multipart/form-data; charset=utf-8",
                        url: "#{request.contextPath}/FileDBUploadServlet",  
                        //url: action,
                        data: {description: desc}, 
                        //data: dados,
                        //data: $("#formId").get(0),
	                    error: function(){
	                        alert("Data Error");
	                    },
	                    success: function (data){
	                    	//alert(data);  
	                        $("#results").html("Results: " + data);
	                    }                    
                    });  
             
                    return false;  
                });    
        */              
      </script>        
    </h:body>
</html>




