<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:v="http://java.sun.com/jsf/composite/component"
   template="template.xhtml">
   
   <ui:param name="page" value="upload"/>
   <ui:define name="example">
      <h:outputStylesheet library="component/gritter/css" name="jquery.gritter.css"  target="head"/>
      <h:outputScript library="component/gritter" name="jquery.gritter.js" target="head"/>
      <h:outputScript library="jslib" name="jquery.form.js" target="head"/>

      <h3>Upload a file</h3>
      <iframe name="uploadresult" width="0" height="0" tabindex="-1" title="empty" style="display:none;"></iframe> <!-- hidden iframe needed for IE7 -->
      <form id="importForm" action="FileDBUploadServlet" enctype="multipart/form-data" method="post" class="formEl dp33 fc cf" target="uploadresult">
		<div class="tableDiv sepH_b_line" id="uploadDiv">
		     <div class="rowDiv">
		      <label for="file" class="lbl cellDiv">Select File to Upload:</label>
		      <input type="file" id="file" name="file" class="cellDiv"/>
		     </div>
		     <div class="rowDiv">
		      <label for="description" class="lbl cellDiv">Description:</label>
		      <input type="text" id="description" name="description" class="inpt_b cellDiv"/><br/>              
		     </div>
		</div>
		<div class="tac">
		     <input type="submit" id="uploadButtonId" value="Upload" class="btn btn_dS"/>
		</div>
      </form>
      <div class="sepH_c"></div>
      
      <div class="progress fc">
          <div class="bar"></div >
          <div class="percent">0%</div >
      </div>
  
      <div id="status" style="border:none;" class="dp50 fc cf tac"></div>
              
      <script type="text/javascript">
      (function() {
          
        var bar = $('.bar');
        var percent = $('.percent');
        var status = $('#status');
           
        $('#importForm').ajaxForm({
            beforeSend: function() {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
                $(".progress").fadeToggle('fast');
            },
            uploadProgress: function(event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            complete: function(xhr) {
                //status.html(xhr.responseText);
                var msg = xhr.responseText.split("|");
                $.gritter.add({
                    title: msg[0],
                    text: msg[1],
                    time: '1000',
                });                    
                $('.progress').fadeToggle(2000);
                $('#importForm').clearForm();
            }
        }); 

      })();
    </script>
   </ui:define>
   <ui:define name="usage">
   </ui:define>   
</ui:composition>
