<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   template="/templates/vtt.xhtml">
   <ui:param name="page" value="import"/>   
   <ui:define name="content">
      <h1>Upload a file</h1>
      <h:outputScript library="jslib" name="jquery.form.js" target="head"/>
        <form id="importForm" action="FileDBUploadServlet" enctype="multipart/form-data" method="post">
            File: <input type="file" id="FileUploadId" name="file"/><br/>
            Rename As (as file blurs change this from: $('#file').val(): <input type="text" id="fileName" name="fileName"/><br/>
            Description: <input type="text" id="description" name="description"/><br/>
            <input type="submit" id="uploadButtonId" value="Upload" />
        </form>      
<!-- 
      <form id="importForm" action="FileDBUploadServlet" enctype="multipart/form-data" method="post" class="formEl cf fc">
          <div class="dp33" id="uploadDiv">
               <label for="file" class="lbl_top">Select File to Upload:</label>
               <input type="file" id="file" name="file"/><br/>
               
               <label for="desc" class="lbl_top">Description:</label>
               <input type="text" id="description" name="description"/><br/>
               
               <label for="map" class="lbl_top">Select Map File:</label>
               <select name="map" size="5">
                   <option value="1">DRIVE_NEW_BUSINESS</option>
                   <option value="2">DELAYED_RELEASE</option>
                   <option value="3">BERKHEIMER_TITLES</option>
                   <option value="5">MATCH_IMPORT</option>
                   <option value="7">cinfed map</option>
                   <option value="10">GE-PDDA.MAP</option>
                   <option value="15">VITRAN</option>
                   <option value="16">Emory_Map.MAP</option>
                   <option value="18">NCB Transfer</option>
                   <option value="21">FAIRWINDS MAP</option>
                   <option value="22">Affinity_Update_Import_Fix</option>
                   <option value="23">Suntrust Import Map</option>
                   <option value="24">FIRST NIAGARA 20090921</option>
                   <option value="25">Westlake New Business</option>
                   <option value="26">Westlake Dokustar Import</option>
                   <option value="27">Westlake PrintReq</option>
                   <option value="29">FIRST CREDIT</option>
                   <option value="30">UKFCU_IMPORT</option>
                   <option value="31">The Mechanics Bank Import</option>
                   <option value="32">Kffcu2.map</option>
                   <option value="33">ALASKA_IMPORT</option>
                   <option value="34">ALASKA_REFI_IMPORT</option>
                   <option value="35">TICKET66206</option>
                   <option value="36">TICKET66206_RELEASE</option>
                   <option value="37">TEST ADDING DUP ACCT</option>
                   <option value="38">BankOK62754</option>
                   <option value="39">ticket66573</option>
                   <option value="40">Wells Fargo Direct NewBusiness</option>
                   <option value="41">DRIVE DMS Map</option>
                   <option value="42">VINtek_SeaComm.MAP</option>
                   <option value="43">SHAREFAXMAP</option>
                   <option value="44">APT1811.MAP</option>
                   <option value="45">firstlight</option>
                   <option value="46">Lien File</option>
                   <option value="47">FC_IMPORT</option>
                   <option value="48">GTE Import Map</option>
                   <option value="49">AMPLIFY_IMPORT</option>
                   <option value="50">ZeroBalance</option>
                   <option value="51">TDBANK_IMPORT</option>
                   <option value="52">NFCU_NewBusiness</option>
                   <option value="53">NFCU_AddressChange.</option>
                   <option value="54">NFCU New Business NO VIN CHANGE</option>
                   <option value="55">master</option>
                   <option value="56">TDBNJMAP</option>
                   <option value="57">Printing Industries</option>
                   <option value="58">Westlake_VINtek_Releases</option>
                   <option value="59">Yakima Test</option>
                   <option value="60">3091_RELEASE</option>
                   <option value="61">TEXANS_IMPORT</option>
                   <option value="62">ONETIME</option>
                   <option value="63">ShareFax20100208</option>
                   <option value="64">ShareFIXED</option>
                   <option value="65">SHAREFAX_IMPORT</option>
                   <option value="66">NASA_IMPORT</option>
                   <option value="67">800LoanMart.map</option>
                   <option value="68">trevin test</option>
                   <option value="69">20100217</option>
                   <option value="70">YakimaVFCU.map</option>
                   <option value="71">AFFINITY_RELEASE</option>
                   <option value="72">Dealer Import</option>
                   <option value="73">EstrnDly1.map</option>
                   <option value="74">PSECU Import</option>
                   <option value="75">CONNEX_IMPORT</option>
                   <option value="76">Hudson_FDI_Data</option>
                   <option value="77">Hudson_Paper_Title</option>
                   <option value="78">Vitran Map</option>
                   <option value="79">AGFS_IMPORT</option>
                   <option value="80">Hudson_Valley_New_Business</option>
                   <option value="81">WilberNB New Business</option>
                   <option value="82">Loans Added</option>
                   <option value="83">Vitran Loan Import</option>
                   <option value="84">Westlake Loan Status Update</option>
                   <option value="85">NFCU Address Change</option>
                   <option value="86">NFCU Collateral Change</option>
                   <option value="87">NFCU Canceled Accounts</option>
                   <option value="88">DMV Errors</option>
                   <option value="89">Ticket73819_Match_Import</option>
                   <option value="90">VWestCU</option>
                   <option value="91">1stNiagraHarleysville.map</option>
                   <option value="92">MEGASYS_IMPORT</option>
                   <option value="94">Connex Dealer Map</option>
                   <option value="95">themap.map</option>
                   <option value="96">dealer</option>
                   <option value="97">CashTime.MAP</option>
                   <option value="99">HVFCU.MAP</option>
                   <option value="100">VantageWestCU.MAP</option>
                   <option value="101">intouchtesting</option>
                   <option value="102">CheckIntoCash.MAP</option>
                   <option value="103">DTAcceptance.MAP</option>
                   <option value="104">FirstAmericanCU.MAP</option>
                   <option value="105">Sample Import.MAP</option>
                   <option value="106">Happy State Map.MAP</option>
                   <option value="107">tabmap.map</option>
                   <option value="108">WF_2356_NewBusiness</option>
                   <option value="109">LoanImportTest</option>
                   <option value="110">71884_Title_TestData</option>
                   <option value="111">CICMAP20100614.MAP</option>
                   <option value="112">TEST</option>
                   <option value="113">AEAFCU_MAP</option>
                   <option value="114">PIMAFCU_MAP</option>
                   <option value="115">ECCU MAP 2</option>
                   <option value="121">VINtek MV</option>
                   <option value="122">ALLIED_CASH.MAP</option>
                   <option value="123">VINCHANGE.MAP</option>
                   <option value="124">InTouch</option>
                   <option value="125">DEALER_IMPORT</option>
                   <option value="126">GeorgiasOwnCU</option>
                   <option value="127">NBT</option>
                   <option value="128">Canandaigua</option>
                   <option value="129">TRIAD_UNMATCH_MATCH</option>
                   <option value="130">Print Hertz.MAP</option>
                   <option value="132">Wells Fargo VIN Changes</option>
                   <option value="133">fulton</option>
                   <option value="134">Fulton MAP 1-2-04</option>
                   <option value="135">Vintek Commercial</option>
                   <option value="136">Putnam.MAP</option>
                   <option value="137">URWFCU.MAP</option>
                   <option value="138">SchoolsReleaseImport</option>
                   <option value="139">Schools MAP 3-24-03</option>
                   <option value="140">LorainNationalBank</option>
                   <option value="141">WilmingtonTrustCo</option>
                   <option value="142">Publix</option>
                   <option value="143">ValleyNational</option>
                   <option value="144">FINFED_Import</option>
                   <option value="145">FiServFloridaWestCoastCU</option>
                   <option value="146">Municipal_NB</option>
                   <option value="147">SharonCU</option>
                   <option value="149">BankOfMontreal</option>
                   <option value="150">MechanicsBank</option>
                   <option value="151">82427</option>
                   <option value="152">GeorgiasOwn</option>
                   <option value="153">Daily Title.MAP</option>
                   <option value="154">VFCUMap.MAP</option>
                   <option value="155">VFCUMap.MAP</option>
                   <option value="156">VINCorrect.MAP</option>
                   <option value="157">VINCorrect2.MAP</option>
                   <option value="158">NorthwestConsumerDiscount</option>
                   <option value="159">TIFPCHappy.MAP</option>
                   <option value="160">CrescentBank</option>
                   <option value="161">RAC</option>
                   <option value="162">DRIVE_PANAM_AUD</option>
                   <option value="163">CICDEALERUPDATE.MAP</option>
                   <option value="164">MidFlorida</option>
                   <option value="165">CreditAcceptance</option>
                   <option value="166">Insight_Map_2495_2</option>
                   <option value="167">UBTMap</option>
                   <option value="168">ValleyFirstCU</option>
                   <option value="169">MEMBERSCCU Import</option>
                   <option value="170">Quick Map</option>
                   <option value="171">WSECU20101022.MAP</option>
                   <option value="172">VINTEK.MEM1STFL</option>
                   <option value="173">WebsterFirst20101022.MAP</option>
                   <option value="174">SunshineState</option>
                   <option value="175">PFCU20101025.MAP</option>
                   <option value="176">Vintek Map</option>
                   <option value="177">AACU</option>
                   <option value="178">AACU</option>
                   <option value="179">Vintek Map</option>
                   <option value="180">First City</option>
                   <option value="181">Franklin</option>
                   <option value="182">TestUMTRLS.MAP</option>
                   <option value="183">MATCH_IMPORT</option>
                   <option value="184">Credit Union Atlanta</option>
                   <option value="185">Belco Community CU</option>
                   <option value="186">Beneficial Savings</option>
                   <option value="187">CBW Schools FCU</option>
                   <option value="188">Cincinnati Ohio Police FCU </option>
                   <option value="189">CSRA FCU </option>
                   <option value="190">FOCUS MAP </option>
                   <option value="191">Heritage Bank of the South</option>
                   <option value="192">JDCU </option>
                   <option value="193">Kennedy SC CU</option>
                   <option value="194">Martin FCU</option>
                   <option value="196">USFFCU1</option>
                   <option value="197">USF Final MAP 3-17-03</option>
                   <option value="198">VINtek Map</option>
                   <option value="199">GlennsFalls20101103.MAP</option>
                   <option value="200">MassMutual20101103.MAP</option>
                   <option value="201">Honeywell</option>
                   <option value="202">KennedySCCU20101104.MAP</option>
                   <option value="203">TompkinsTrust.MAP</option>
                   <option value="204">AmAirFCU20101105.MAP</option>
                   <option value="205">CULS20101108.MAP</option>
                   <option value="207">FranklinMint20101108</option>
                   <option value="208">AmHeritage20101108.MAP</option>
                   <option value="209">COMMUNITY BANK</option>
                   <option value="210">Credit Union Loan Source </option>
                   <option value="211">Univest/PENNVIEW Savings Bank/Univest/Union </option>
                   <option value="212">Univest/PENNVIEW Savings Bank/Univest/Union </option>
                   <option value="213">DealerPack</option>
                   <option value="214">Merrimack Valley FCU 2333</option>
                   <option value="215">Panhandle Educators FCU 2537 </option>
                   <option value="216">UBTSingleFile</option>
                   <option value="217">Regional ACC Title Import</option>
                   <option value="218">RocklandTrust20101109.MAP</option>
                   <option value="219">RocklandTrust20101109-2.MAP</option>
                   <option value="220">Rockland20101109.MAP</option>
                   <option value="221">Orlando FCU</option>
                   <option value="222">S&amp;T Bank</option>
                   <option value="223">Steuben Trust Co.</option>
                   <option value="224">St. Marys Credit Union</option>
                   <option value="225">HanscomFCU20101110.MAP</option>
                   <option value="226">JDCU20101110.MAP</option>
                   <option value="227">SECUFL.MAP</option>
                   <option value="228">Sun East FCU</option>
                   <option value="229">Tempe Schools </option>
                   <option value="230">Tucson FCU</option>
                   <option value="231">HeritageBankOfSouth20101112</option>
                   <option value="232">BBTSheffield</option>
                   <option value="235">Susquehanna</option>
                   <option value="236">Suffolk</option>
                   <option value="237">Teachers</option>
                   <option value="238">SouthFloridaEFCU11162010</option>
                   <option value="239">SEFCU</option>
                   <option value="240">Utilities2010116.MAP</option>
                   <option value="241">RRVINTEK 20101015</option>
                   <option value="242">NebraskaEnergyFCU</option>
                   <option value="243">Farm Credit</option>
                   <option value="244">faa_new</option>
                   <option value="246">Chemung20101118-2.MAP</option>
                   <option value="247">AvisPrint20101118.MAP</option>
                   <option value="250">TauntonFCU20101111</option>
                   <option value="251">TampaBayFCU20101111</option>
                   <option value="252">Fall River Import</option>
                   <option value="253">COMMERCE.MAP</option>
                   <option value="254">copfcu vintek rpt</option>
                   <option value="255">MainlineNB.MAP</option>
                   <option value="256">GE_FASTRAK</option>
                   <option value="257">Vintek_FASTRAK_VinChange</option>
                   <option value="258">Integrasys</option>
                   <option value="259">ALLEGACYDILLS</option>
                   <option value="260">ALLEGACYFNIS</option>
                   <option value="261">fafcu</option>
                   <option value="262">GreatBasinFCU</option>
                   <option value="263">CARFIN_Import</option>
                   <option value="264">McCoy_new</option>
                   <option value="265">MembersFirst_BK_Release</option>
                   <option value="266">Source One Loan Map.MAP</option>
                   <option value="267">SourceOne_Release_Map.MAP</option>
                   <option value="270">SACFCU Import</option>
                   <option value="271">AvisPrint20101206.MAP</option>
                   <option value="272">Envision Credit Union</option>
                   <option value="273">MerckSD.MAP</option>
                   <option value="274">NOFFCU.MAP</option>
                   <option value="275">ImportPrints20101208.MAP</option>
                   <option value="276">Quincy FCU</option>
                   <option value="277">IASystems-Metro</option>
                   <option value="278">IASystems-Kitsap</option>
                   <option value="280">American National Bank</option>
                   <option value="281">Louisiana FCU</option>
                   <option value="282">UACC IMPORT</option>
                   <option value="283">Fixed Test</option>
                   <option value="284">AvisPrint20101210</option>
                   <option value="285">MNT_COMMERCIAL</option>
                   <option value="286">PBC Map.MAP</option>
                   <option value="287">Space Coast</option>
                   <option value="288">EFFCU Release</option>
                   <option value="289">EFFCU</option>
                   <option value="290">Patriot FCU</option>
                   <option value="291">Hertz Print</option>
                   <option value="292">METROTEST.MAP</option>
                   <option value="293">InnovationsAutoImport</option>
                   <option value="294">SevenSeventeenCU</option>
                   <option value="295">CFEFCU_AutoImport</option>
                   <option value="296">SoutheasternFCU</option>
                   <option value="297">First_1_Financial</option>
                   <option value="298">sovereign</option>
                   <option value="302">SCCUImport-TabDelimited</option>
                   <option value="303">DeerValley</option>
                   <option value="304">BerkshireImport</option>
                   <option value="305">Ticket 87683</option>
                   <option value="306">TFRTEST.MAP</option>
                   <option value="307">Amarillo.MAP</option>
                   <option value="308">Valley Bank.MAP</option>
                   <option value="309">TIFPCMetro.MAP</option>
                   <option value="310">VEROS - Titles to Transfer</option>
                   <option value="311">MetroCU Import</option>
                   <option value="312">FLWCU</option>
                   <option value="313">VEROS_TITLES</option>
                   <option value="314">Insight_new</option>
                   <option value="315">SusQ Multiple Collateral.MAP</option>
                   <option value="316">Unrecognized.MAP</option>
                   <option value="317">UTsUnivest</option>
                   <option value="318">HappyTIFPC.MAP</option>
                   <option value="319">TIFPC2Happy.MAP</option>
                   <option value="320">FirstmarkCU Import</option>
                   <option value="321">RESEND.MAP</option>
                   <option value="322">SoutheasternFCU</option>
                   <option value="323">VerosLoanImport.MAP</option>
                   <option value="324">Amarillo.MAP</option>
                   <option value="325">MNT_NLF</option>
                   <option value="326">UpdateRes.MAP</option>
                   <option value="327">CyFair.MAP</option>
                   <option value="328">vintek_BOA</option>
                   <option value="329">TANewLoans.MAP</option>
                   <option value="330">Amarillo Import</option>
                   <option value="331">VEROSPAPER.MAP</option>
                   <option value="332">PRT3518.MAP</option>
                   <option value="333">FirelandsNewLoans.MAP</option>
                   <option value="334">Print20110217</option>
                   <option value="335">HSBC-VINTEK</option>
                   <option value="336">FSUCU.MAP</option>
                   <option value="337">SoutheasternDealerTable.MAP</option>
                   <option value="338">SoutheasternDealerTable.MAP</option>
                   <option value="339">Paper Title.MAP</option>
                   <option value="340">FAFCU_Fix</option>
                   <option value="341">TA_SoCal_BoA</option>
                   <option value="342">LGE Import Map</option>
                   <option value="343">ValeroFCU Import</option>
                   <option value="344">TinkerFCU Import</option>
                   <option value="345">Union Square Map.MAP</option>
                   <option value="346">Transport_America_Import</option>
                   <option value="347">DRIVE_IMPORT_NOFIELD1</option>
                   <option value="348">Carolina.MAP</option>
                   <option value="349">MoveReliant.MAP</option>
                   <option value="350">MoveReliant2.MAP</option>
                   <option value="351">Print.MAP</option>
                   <option value="352">Print Titles.MAP</option>
                   <option value="353">VFCU.MAP</option>
                   <option value="354">TESTCOLLAT.MAP</option>
                   <option value="355">VerosMove.MAP</option>
                   <option value="356">SEFCU_LOAN_UPDATES</option>
                   <option value="357">AliasTest.MAP</option>
                   <option value="358">ConvertBGLoans.MAP</option>
                   <option value="359">BankofOklahoma</option>
                   <option value="360">LoansC1toVeros.MAP</option>
                   <option value="361">MatchVeros.MAP</option>
                   <option value="362">LoansMatch</option>
                   <option value="363">20110506.MAP</option>
                   <option value="364">Tfr20110506</option>
                   <option value="365">MoveReliant.MAP</option>
                   <option value="366">SecInitialLoans.MAP</option>
                   <option value="367">Vitran Release</option>
                   <option value="368">SecFirstCU.MAP</option>
                   <option value="369">Rome.MAP</option>
                   <option value="370">BayCU Import MAP</option>
                   <option value="371">Ticket93746</option>
                   <option value="372">HEB FCU Map</option>
                   <option value="373">MidSouthCU.MAP</option>
                   <option value="374">PRINT20110615.MAP</option>
                   <option value="375">HEB.MAP</option>
                   <option value="376">97052</option>
                   <option value="377">TESTERSMART.MAP</option>
                   <option value="378">sefcumapfile</option>
                   <option value="379">89657</option>
                   <option value="380">89657</option>
                   <option value="381">89657nlf</option>
                   <option value="382">NLF_Test_Map</option>
                   <option value="383">Archive</option>
                   <option value="384">MissingMHM</option>
                   <option value="385">96497</option>
                   <option value="386">96497revised</option>
                   <option value="387">97873</option>
                   <option value="388">08042011</option>
                   <option value="389">55939</option>
                   <option value="390">CCUTX.MAP</option>
                   <option value="391">AbileneFCU.MAP</option>
                   <option value="392">ARC</option>
                   <option value="393">ARC</option>
                   <option value="394">Gulf.MAP</option>
                   <option value="395">Fidelity.MAP</option>
                   <option value="396">FIDMAP.MAP</option>
                   <option value="397">Delayed Release PV</option>
                   <option value="398">Add Test</option>
                   <option value="399">BeaconCU.MAP</option>
                   <option value="400">FIDTitles.MAP</option>
                   <option value="401">FidTitleMap.MAP</option>
                   <option value="402">Deleter.MAP</option>
                   <option value="403">FIDTITLES.MAP</option>
                   <option value="404">BravosMap</option>
                   <option value="405">LIVE ADD.MAP</option>
                   <option value="406">Elt Release PV</option>
                   <option value="407">RLSTestImportMap</option>
                   <option value="408">103739</option>
                   <option value="409">Addloanimport</option>
                   <option value="410">Test Add Loan Map File</option>
                   <option value="412">ARC - PV</option>
                   <option value="413">pv-01</option>
                   <option value="414">PV-02</option>
                   <option value="415">Add Loan Navy</option>
                   <option value="416">DelayedRelease</option>
                   <option value="417">Eagle New Business</option>
                   <option value="420">PVaddTitle</option>
                   <option value="421">nlftest</option>
                   <option value="422">Release_PV</option>
                   <option value="423">108628</option>
                   <option value="424">108628rev1</option>
                   <option value="425">EAGEL_PV</option>
                   <option value="426">106897</option>
                   <option value="427">USAA_New_Business</option>
                   <option value="428">lientype</option>
                   <option value="429">add</option>
                   <option value="431">test</option>
                   <option value="432">New Loans</option>
                   <option value="433">110864</option>
                   <option value="434">USAA-WL</option>
                   <option value="435">Transfer Bulk Release</option>
                   <option value="436">TitleMyWay_Fidelity</option>
                   <option value="437">HudsonValleyNewMAP</option>
                   <option value="438">FirstNiagaraDealerMAP</option>
                   <option value="439">AlaskaFCU_New_Map</option>
                   <option value="440">AssociatedCU4743_test</option>
                   <option value="441">Ticket_116841_TEST</option>
                   <option value="442">Fidelity_TMW_Load</option>
                   <option value="443">BankUnited4594_MAP</option>
                   <option value="446">TRQ Load</option>
               </select><br/>
               
               <input type="checkbox" class="checkbox" id="header" value="true" name="header"/>
               <label for="header" class="lbl_top">Header Record?</label><br/>
               
               <input type="checkbox" class="checkbox" id="sendEmail" value="true" name="sendEmail"/>
               <label for="email" class="lbl_top">Email the log to: </label>
               <input type="text" id="email" value="dxhezo@vintek.com" name="email" width="150"/><br/>
               <input type="submit" id="uploadButtonId" value="Upload" />
          </div>          
      </form>
-->      
      <div class="progress">
          <div class="bar"></div >
          <div class="percent">0%</div >
      </div>
  
      <div id="status" style="border:none;"></div>
              
      <script type="text/javascript">
      (function() {
          
      	var bar = $('.bar');
      	var percent = $('.percent');
      	var status = $('#status');
      	   
      	$('#importForm').ajaxForm({
      	    beforeSend: function() {
      	        status.empty();
      	        var percentVal = '0%';
      	        bar.width(percentVal)
      	        percent.html(percentVal);
      	    },
      	    uploadProgress: function(event, position, total, percentComplete) {
      	        var percentVal = percentComplete + '%';
      	        bar.width(percentVal)
      	        percent.html(percentVal);
      	    },
      	    complete: function(xhr) {
      	        status.html(xhr.responseText);
      	    }
      	}); 

      })();
    </script>
   </ui:define>
</ui:composition>