<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   template="/templates/vtt.xhtml">
   <ui:param name="page" value="import"/>   
   <ui:define name="content">
        <h1>Upload a file</h1>
        <iframe src="#{request.contextPath}/uploader.xhtml"></iframe>
  </ui:define>
</ui:composition>     
