<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xml:lang="en">
<h:head>
</h:head>
<h:body>
    <h:form id="formId" action="FileUploadServlet" enctype="multipart/form-data" method="post">
        <input type="file" id="FileUploadId" name="***Upload***"  />
        <input type="submit" id="uploadButtonId" value="Upload Now" />
    </h:form>
</h:body>
</html>
