<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xml:lang="en">
<h:head>
</h:head>
<h:body>
    <ui:debug hotkey="x" rendered="#{initParam['javax.faces.FACELETS_DEVELOPMENT']}"/>
    <h:form enctype="multipart/form-data" method="post">
        <input type="file" name="vcardFile"/>
        <h:commandButton action="#{vcardBean.uploadVCard}" value="Upload"/>
    </h:form>
</h:body>
</html>
